h1, h2 {
	font-family: "Dosis";
}

label {
	font-family: "Inconsolata";
}

input {
	font-family: "Inconsolata";
}

/*    width:250px;
    height:290px;
        background-color:orange; 
}
#result {
    width:220px;
    height:20px;
    background-color: yellow;
}

#body {
	text-align: center;
}

#form {
	text-align: left;
}
*/