

h1, h2 {
	text-align: center;
	font-family: "Dosis";
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.7em;
}

label, h4 {
	font-family: "Inconsolata";
}

input {
	font-family: "Inconsolata";
}

.well {
	font-family: "Inconsolata";
	background: white;
}

head, body {
	background-color: C0FFED;
}

.jumbotron {
		background-color: white;
}

/*    width:250px;
    height:290px;
        background-color:orange; 
}
#result {
    width:220px;
    height:20px;
    background-color: yellow;
}

#body {
	text-align: center;
}

#form {
	text-align: left;
}
*/